.section7 {
    width: 100%;
    height: auto;
}

.sec7background {
    width: 100%;
    height: 587px;
    background-image: url('../../img/bg-sec7.jpg');
    display: flex;
    justify-content: center;
}

.sec7content {
    width: auto;
    height: auto;
    margin: auto;
}

.sec7content h1{
    font-family: "Playfair Display bold";
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.sec7content img {
    display: block;
    margin: 50px auto;
}

.sec7content button {
    display: block;
    margin: auto;
    color: #fff;
    background-color: #eeaa9c;
    border: none;
    padding: 30px 90px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.sec7content button:hover {
    background-color: #ee9c9c;
    transition: 0.5s;
}
